{% extends "base.html" %}
{% block title %} Modifier une CREATURE {% endblock %}
{% block body %}
<div class="container">
    <h2>Modifier les statistiques du spécimen</h2>
    <form action="" method="POST" novalidate>
        {{ form_update.hidden_tag() }}
        <div class="form-group">
            {{ form_update.nom_creature_update_wtf.label }}<br>
            {{ form_update.nom_creature_update_wtf(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form_update.torpeur_creature_update_wtf.label }}<br>
            {{ form_update.torpeur_creature_update_wtf(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form_update.regime_creature_update_wtf.label }}<br>
            {{ form_update.regime_creature_update_wtf(class="form-control") }}
        </div>
        <br>
        {{ form_update.submit(class="btn btn-warning") }}
        <a href="{{ url_for('creatures_afficher', order_by='ASC', id_creature_sel=0) }}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}